// Block styling
// =============

.block {
    //background-color: @background-color;
    background-color:none;
    border-bottom:2px solid @white;

    .block-inner {
        max-width: @device-width-large;
        margin: auto;
        padding: 150px 0;
            
        .text-background{
        background: rgba(62,45,105,0.9);    /* 40% opaque red */  
        border:2px solid @white;
        padding:3em;
        }
        
        
        .text-inner{
            opacity:1;
            color:@white;
        }
        
        
        //padding: @block-padding-top 0 @block-padding-bottom;
        // reduce padding as screen width decreases
        @media all and (max-width: (@device-width-large + 20px)) {
            padding: (@block-padding-top / 2) 20px (@block-padding-bottom / 2);
        }
        @media all and (max-width: (@device-width-small + 20px)) {
            padding: (@block-padding-top / 3) 10px (@block-padding-bottom / 3);
        }
    }

    .block-title {
        margin-bottom: @block-title-margin-bottom;
        color: @title-color;
        text-align: left;

        .dir-rtl & {
            text-align: right;
        }
    }

    .block-body{
        margin-bottom: @block-body-margin-bottom;
        

    }

    .block-instruction {
        margin-bottom: @block-instruction-margin-bottom;
        .instruction-text;
    }
}

/*---------------------------------section 1---------------------------------*/

.block.int_lo01_a01_b01.nth-child-1 {
                background-color:@blue;}
.block.int_lo01_a01_b02.nth-child-2 {
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo01_a01_b03.nth-child-3 {
                background-color:@blue;}
/*---------------------------------section 2---------------------------------*/
.block.int_lo02_a01_b01.nth-child-1{
                background-color:@blue;}
.block.int_lo02_a01_b02.nth-child-2{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo02_a01_b03.nth-child-3{
                background-color:@blue;}
.block.int_lo02_a01_b04.nth-child-4{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo02_a01_b05.nth-child-5{
                background-color:@blue;}
/*---------------------------------section 3---------------------------------*/
.block.int_lo03_a01_b01.nth-child-1{
                background-color:@blue;}
.block.int_lo03_a01_b02.nth-child-2{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo03_a01_b03.nth-child-3{
                background-color:@blue;}
.block.int_lo03_a01_b04.nth-child-4{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo03_a01_b05.nth-child-5{
                background-color:@blue;}
.block.int_lo03_a01_b06.nth-child-6{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo03_a01_b07.nth-child-7{
                background-color:@blue;}
.block.int_lo03_a01_b08.nth-child-8{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo03_a01_b09.nth-child-9{
                background-color:@blue;}
.block.int_lo03_a01_b10.nth-child-10{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo03_a01_b11.nth-child-11{
                background-color:@blue;}
/*---------------------------------section 4---------------------------------*/
.block.int_lo04_a01_b01.nth-child-1{
                background-color:@blue;}
.block.int_lo04_a01_b02.nth-child-2{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo04_a01_b03.nth-child-3{
                background-color:@blue;}
.block.int_lo04_a01_b04.nth-child-4{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo04_a01_b05.nth-child-5{
                background-color:@blue;}
.block.int_lo04_a01_b06.nth-child-6{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo04_a01_b07.nth-child-7{
                background-color:@blue;}
.block.int_lo04_a01_b08.nth-child-8{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo04_a01_b09.nth-child-9{
                background-color:@blue;}
.block.int_lo04_a01_b10.nth-child-10{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
/*---------------------------------section 5---------------------------------*/
.block.int_lo05_a01_b01.nth-child-1{
                background-color:@blue;}
.block.int_lo05_a01_b02.nth-child-2{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo05_a01_b03.nth-child-3{
                background-color:@blue;}
.block.int_lo05_a01_b04.nth-child-4{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo05_a01_b05.nth-child-5{
                background-color:@blue;}
.block.int_lo05_a01_b06.nth-child-6{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo05_a01_b07.nth-child-7{
                background-color:@blue;}
.block.int_lo05_a01_b08.nth-child-8{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo05_a01_b09.nth-child-9{
                background-color:@blue;}
.block.int_lo05_a01_b10.nth-child-10{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}
.block.int_lo05_a01_b11.nth-child-11{
                background-color:@blue;}
.block.int_lo05_a01_b12.nth-child-12{
                background-image: url(../../course/en/images/SingleBG.png);
                background-size:cover;}

/*---------------------------------section 6---------------------------------*/

    table, tr, td {border:1px solid @white; padding:4px; background: rgba(255, 255, 255, .1); }
th{border:1px solid @white; padding:4px; vertical-align:top}