.menu {
	background: @background-color;

	.menu-container {
		width: 100%;
	}

	.menu-container-inner {
		padding: 0;
	}

	.menu-header {
                border-bottom:2px solid @white;
		//margin-bottom: -30px;
		//background-color: @background-color-inverted;
                background-image: url(../../course/en/images/HomepageBG.png);
                background-repeat: no-repeat;
                background-size: cover;
	}

	.menu-header-inner {
                padding: 150px 100px;
                text-align: left;
                margin: auto;
		/*max-width: @device-width-large;
		padding: @menu-header-padding-top 0 @menu-header-padding-bottom;
		text-align: center;*/

        @media all and (max-width: (@device-width-large + 20px)) {
            padding: (@menu-header-padding-top / 2) 20px @menu-header-padding-bottom;
        }

        @media all and (max-width: (@device-width-small + 20px)) {
            padding: 20px 10px 20px;
        }
	}

	.menu-title {
		margin: @menu-block-title-margin-top 0 @menu-block-title-margin-bottom;
		color: @foreground-color-inverted;
	}

	.menu-body {
		margin: @menu-block-body-margin-bottom 0;
		color: @foreground-color-inverted;
	}

	.menu-item {
            margin:0;
		//margin: 0 auto 30px;
                
                &.first-child{
                    .menu-item-inner{
                        border-top:2px solid @white;
                    }
                    
                }

		&.nth-child-even{
			.menu-item-inner{
                                background-image: url(../../course/en/images/SingleBG.png);
                                background-repeat:no-repeat;
                            text-align:left;
			    margin-right:0;/*margin-left:2%;*/
		        .dir-rtl & {
		            margin-right:0;/*margin-right:2%;*/
		        }
			}
		}

		&.nth-child-odd {
			.menu-item-inner {
                            background-color: @blue;
                            text-align:right;
                            margin-right:0;/*margin-left:2%;*/
                .dir-rtl & {
		            margin-right:0;/*margin-right:2%;*/
                            text-align:left;
                }
			}
		}
	}

	.menu-item-inner {
                border-bottom:2px solid @white;    
		position:relative;
		max-width: 100%/*(@device-width-large / 2) - (@item-padding * 2)*/;
		margin: auto;
                padding: 100px;
		//padding: @menu-block-padding-top @menu-block-padding-right @menu-block-padding-bottom @menu-block-padding-left;
		color: @menu-item-text-color;
	}
        
	
	.menu-item-title {
		margin: @menu-block-title-margin-top 0 @menu-block-title-margin-bottom;
		padding: 0;
		.item-title;
	}

	.menu-item-body {
		margin-bottom: @menu-block-body-margin-bottom;
		padding: 5px;
	}

	.menu-item-instruction {
		margin-bottom: @menu-block-instruction-margin-bottom;
		padding: 0;
	}

	.page-level-progress-menu-item {
		width: 60px;
		height: 6px;
		float: none;
		padding: 0;
		position: absolute;
		right: (@menu-block-padding-right+4);
		bottom: (@menu-block-padding-bottom+6);

		.dir-rtl & {
			left: (@menu-block-padding-left+4);
			right: auto;
		}
	}

	.page-level-progress-menu-item-indicator {
		width: 60px;
		height: 6px;
		background-color: @menu-item-progress-color;
		border: 2px solid @menu-item-progress-border-color;
		border-radius: 25px;
	}

	.page-level-progress-menu-item-indicator-bar {
		height: 6px;
		background-color: @menu-item-progress-fill-color;
		border-radius: 25px;
	}

	.menu-item-duration {
		position: absolute;
		right: @menu-block-padding-right;
		float: none;

		.dir-rtl & {
			float: none;
			left: (@menu-block-padding-left);
			right: auto;
		}
	}

	.menu-item-button {
		padding: 0;
		
		button {
			padding: @button-padding-top (@button-padding-right*2) @button-padding-bottom (@button-padding-left*2);
			background-color:@button-color;
			color:@button-text-color;
			
			&:hover {
				background-color:@button-color-hover;
				color:@button-text-color-hover;
			}
			
			&.visited {
				background-color:@secondary-color;/*@button-color-disabled;*/
				color:@white;/*@button-text-color-disabled;*/
			}
		}
	}
}

@media all and (max-width: @device-width-medium) {

   	.menu{
   		.menu-inner {
			padding:0;
		}

		.menu-title-inner{
			padding: 0;
		}

		.menu-body-inner{
			padding: 0;
		}

		.menu-item{			
			&.nth-child-even, 
			&.nth-child-odd {
				.menu-item-inner,
				.dir-rtl & .menu-item-inner {
					margin: 0 auto;
                                        //padding:100px;
                                        padding:50px;
				}
			}
		}
   	}
}
@media all and (max-width: @device-width-small){
    .menu{
    		.menu-item{			
			&.nth-child-even, 
			&.nth-child-odd {
				.menu-item-inner,
				.dir-rtl & .menu-item-inner {
					text-align:center;
				}
			}
                        .menu-item-graphic{
                            float:none;
                        }
		}
    }
}