.hotgraphic-component {
    
    .hotgraphic-item-content {
    float: left;
    width: 100%;
}

	.hotgraphic-graphic-pin {
		background-color: @item-text-color;

		&.visited {
			.hotgraphic-graphic-pin-icon {
				color: @item-color-visited;
			}
		}
		.no-touch &:hover {
			background-color: @item-text-color;
			
			.hotgraphic-graphic-pin-icon {
				color: @item-color-hover;
			}
		}
	}

	.hotgraphic-graphic-pin-icon {
		color: @item-color;
	}

	.hotgraphic-popup {
		background-color: @secondary-color;
		border: 2px solid @white;
                
                .hotgraphic-popup-controls{
                    display:none;
                    .hotgraphic-popup-count{
                        display:none;
                    }
                }
        }

	.hotgraphic-popup-toolbar {
		background-color: @item-color;
	}

	.hotgraphic-popup-nav {
		background-color: @item-color;
	}

	.hotgraphic-popup-done {
		.no-touch &:hover {
			.hotgraphic-popup-close {
				color: @button-text-color-hover;
			}
		}
	}

	.hotgraphic-popup-arrow-l, 
	.hotgraphic-popup-arrow-r,
	.hotgraphic-popup-close {
		padding: @item-padding;
		color: @button-text-color;
	}

	.hotgraphic-popup-count {
		padding: @item-padding;
		color: @item-text-color;
                display:none;
	}

	.hotgraphic-popup-controls {
		.no-touch &:hover {
			.hotgraphic-popup-arrow-l,
			.hotgraphic-popup-arrow-r {
				color: @button-text-color-hover;
			}
		}
	}

	.hotgraphic-popup-inner {
		padding: @item-padding;
                
                
.hotgraphic-item-graphic-inner > img {
    display: none;
}

	}

	.hotgraphic-content-title {
		.item-title;
		margin-bottom: @title-text-margin;
	}
}

.hotgraphic-narrative {
    .hotgraphic-graphic-pin {
        position:relative;
        z-index:1;
        &:hover {
            .hotgraphic-graphic-pin-image {
                //-webkit-perspective:1000; 
                -webkit-backface-visibility:hidden;
                
            }            
        }
    }
}