.menu-title, .menu-body{
	color: @inverted-foreground-color;
	margin-bottom:@menu-title-padding-bottom;
}

.menu {
	background: @primary-color;
	.menu-container {
		.responsive-large;
		.responsive-medium;
		.responsive-small;
	}

	.menu-container-inner {
		padding:@menu-body-padding;
	}

	.menu-item {
		.responsive-medium;
		.responsive-small;
		//width:50%;
                width:100%;
		float:left;
        .dir-rtl & {
            float:right;
        }
		margin-top:@menu-body-padding-bottom;
		margin-bottom:20px;


		&.nth-child-even{
			.menu-item-inner{
                                background-image: url(../../course/en/images/SingleBG.png);
                                background-size:cover;
                                background-repeat:no-repeat;
                                text-align:left;
				margin-left:0;/*margin-left:2%;*/
		        .dir-rtl & {
		            margin-right:0;/*margin-right:2%;*/
		        }
			}
		}

		&.nth-child-odd {
			.menu-item-inner {
                                background-color: @blue;
                                text-align:right;
				margin-left:0;/*margin-left:2%;*/
                .dir-rtl & {
		           margin-left:0;/*margin-right:2%;*/
                           text-align:left;
                }
			}
		}
	}

	.menu-item-inner {
		background: @background-color;
		padding-bottom:20px;
		position:relative;
	}
               

	.menu-graphic a {
		display: block;
	}
	
	.menu-item-title {
		padding:@menu-body-padding;
	}

	.menu-item-body {
		padding:@menu-body-padding;
	}

	.menu-item-button {
		padding:@menu-body-padding;
		
		a {
			text-decoration: none;
			background-color:@button-color;
			color:@button-text-color;
			padding:@button-padding;
			
			&:hover {
				background-color:@button-hover-color;
				color:@button-text-hover-color;
			}
			
			&.visited {
				background-color:@button-disabled-color;
				color:@button-text-disabled-color;
			}
		}
	}

	.menu-item-duration {
		float:right;
        .dir-rtl & {
            float:left;
        }
	}
}



@media all and (max-width:760px) {
	.menu-title-inner{
		padding:15px 0 0;
	}

	.menu-body-inner{
		padding:0px 0 10px;
	}

   	.menu{

   		.menu-inner {
			padding:0;
                        vertical-align:middle;
		}

		.menu-item{
			width:100%;
			margin-bottom:20px;
			
			&.nth-child-even, &.nth-child-odd{
				
				.menu-item-inner{
					margin:0;
                                                                    text-align:center;
				}
			}
		}
   	}
}

.menu-item.menu-item.nth-child-1 .menu-item-inner{
    .menu-item-graphic {
                            float: left;
                    position: relative;
                    margin-top: -3%;
    }
}

.menu-item.menu-item.nth-child-2 .menu-item-inner{
                .menu-item-graphic {
                    float: right;
                    position: relative;
                    margin-top: -5%;
}
}
.menu-item.menu-item.nth-child-3 .menu-item-inner{
    .menu-item-graphic {
                            float: left;
                    position: relative;
                    margin-top: -5%;
    }
}
.menu-item.menu-item.nth-child-4 .menu-item-inner{
                .menu-item-graphic {
                            float: right;
                    position: relative;
                margin-top: -5%;}
}

.menu-item.menu-item.nth-child-5 .menu-item-inner{
                .menu-item-graphic {
                            float: left;
                    position: relative;
                margin-top: -5%;}
}

.menu-item.menu-item.nth-child-6 .menu-item-inner{
                .menu-item-graphic {
                    float: right;
                    position: relative;
                margin-top: -5%;}
}