// Custom Colors
// =============

@white: #ffffff;
@black: #4b4e4f;
@blue: /*#078292;*/#06619f;
@light-grey: #d2d2d2;
@mid-grey: #8e8e8e;
@dark-grey: #424242;
@red: #f26c4f;
@green: /*#82ca9c;*/#01a59b;
@light-green:#87c4bf;
@purple:#3e2d69;
@yellow:#ffca08;


// Main Colors
// ===========

// Components
@primary-color: @green;
@primary-color-inverted: @white;
// Buttons
@secondary-color: @purple;
@secondary-color-inverted: @white;
// Navigation Bar
@tertiary-color: @green;
@tertiary-color-inverted: @white;
// Drawer
@quaternary-color: @white;
@quaternary-color-inverted: @dark-grey;
// Body
@foreground-color: @dark-grey;
@background-color: @white;
@foreground-color-inverted: @white;
@background-color-inverted: @mid-grey;
// Validation States
@validation-error: @red;
@validation-success: @green;
// Disabled States
@disabled-color: #727272;
@disabled-color-inverted: #ccc;

@transparency: rgba(255,255,255,0.8);
@transparency-fallback-png: url('assets/transparency-light.png');

// Detailed Color setup
// ====================

// Body
@font-color: @white;
@font-color-inverted: @white;
@title-color: @white;
@title-color-inverted: @white;

// Buttons
@button-color: @secondary-color;
@button-color-hover: darken(@button-color, 5%);
@button-color-disabled: @disabled-color;

@button-text-color: @secondary-color-inverted;
@button-text-color-hover: @secondary-color-inverted;
@button-text-color-disabled: @disabled-color-inverted;

@button-border-color: @button-color;
@button-border-color-hover: @button-color-hover;
@button-border-color-disabled: @button-color-disabled;

// Navigation 
@navigation-color: @tertiary-color;

@navigation-icon-color: @tertiary-color-inverted;
@navigation-icon-color-hover: darken(@navigation-icon-color, 40%);

@navigation-progress-color: @navigation-icon-color;
@navigation-progress-color-hover: darken(@navigation-progress-color, 40%);

@navigation-progress-background-color: @navigation-color;
@navigation-progress-background-color-hover: darken(@navigation-color, 40%);

@navigation-progress-border-color: @navigation-icon-color;

// Drawer
@drawer-color: @primary-color;
@drawer-border-color: @secondary-color;

@drawer-icon-color: @white;
@drawer-icon-color-hover: @secondary-color;

@drawer-item-color: @drawer-color;
@drawer-item-color-hover: @secondary-color;
@drawer-item-color-selected: @drawer-item-color-hover;
@drawer-item-color-disabled: @item-color-disabled;

@drawer-item-text-color: @white;
@drawer-item-text-color-hover: @drawer-item-text-color;
@drawer-item-text-color-selected: @drawer-item-text-color;
@drawer-item-text-color-disabled: @item-text-color-disabled;

@drawer-progress-color: @drawer-item-text-color;
@drawer-progress-color-hover: @secondary-color;

@drawer-progress-border-color: @secondary-color;

// Components
@component-background-color: darken(@background-color, 10%);

@item-color: @secondary-color;/*@primary-color;*/
@item-color-hover: @secondary-color;/*@primary-color;*//*darken(@item-color, 20%)*/;
@item-color-disabled: @disabled-color;
@item-color-visited: @secondary-color;/*@primary-color;*//*desaturate(@item-color, 90%)*/;
@item-color-selected: @item-color-hover;

@item-text-color: @secondary-color-inverted;/*@primary-color-inverted;*/
@item-text-color-hover: @item-text-color;
@item-text-color-disabled: @item-text-color;
@item-text-color-visited: @item-text-color;
@item-text-color-selected: @item-text-color;

@item-body-color: @background-color;
@item-body-text-color: @foreground-color;

@item-border-color: @item-color;
@item-border-color-hover: @item-color-hover;
@item-border-color-disabled: @item-color-disabled;
@item-border-color-visited: @item-color-visited;
@item-border-color-selected: @item-color-selected;
@item-border-color-inverted: @item-text-color;

// Menu
@menu-item-color: @primary-color;
@menu-item-text-color: @primary-color-inverted;
@menu-item-progress-color: @primary-color/*darken(@item-color, 20%)*/;
@menu-item-progress-fill-color: @menu-item-text-color;
@menu-item-progress-border-color: transparent;

// Notify
@notify-color: @secondary-color;
@notify-text-color: @secondary-color-inverted;

@notify-icon-color: @notify-text-color;
@notify-icon-color-hover: darken(@notify-color, 20%);

@notify-button-color: @notify-text-color;
@notify-button-color-hover: @notify-text-color/*darken(@notify-color, 20%)*/;

@notify-button-text-color: @notify-color;
@notify-button-text-color-hover: @notify-text-color;
