// THIS IS WHERE WE CAN DECLARE ANY OTHER VARIABLES (ie. device-width, border-width etc.)

// Device widths
// =============

@device-width-small: 520px;
@device-width-medium: 760px;
@device-width-large: 900px;

// Max-widths
// ==========

@max-width: 1400px;
@ie8-max-width: 1024px;

// Borders and Outlines
// ====================

@focus-outline: 2px solid orange; //focus outline is displayed when accessibility is enabled

@button-border: 0px solid @button-border-color;

@item-border: 2px solid @item-border-color;
